:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* generic styles for the page */

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

nav a {
  color: var(--magenta);
}

nav a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

img {
  width: 100%;
}

/* background color divs */

.gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 23, 228, 1) 0%,
    rgba(134, 251, 251, 1) 100%
  );
  height: 2px;
}

/* intro styles */

#intro {
  padding: 4rem 1rem 10rem 1rem;
  padding-bottom: 10rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p,
p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}

/* navigation */

#nav-div {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #171321;
  z-index: 10;
}
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 2rem 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul,
.sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.sidebar ul {
  flex-flow: column wrap;
  justify-content: right;
  align-items: flex-start;
}
.sidebar a {
  font-family: var(--mono);
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--aqua);
}

nav a,
.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover,
.sidebar a:hover {
  color: var(--magenta);
}
#github {
  font-size: 2.5rem;
}
.button {
  background-color: var(--magenta);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--mono);
}

.button:hover {
  color: white;
  background-color: var(--hotmag);
}

/* Main */
.doc-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.documentation {
  top: 6rem;
  display: grid;
  grid-template-columns: minmax(300px, auto) 1fr;
  grid-template-areas: "sidebar components";
  grid-gap: 20px;
  max-width: 1200px;
}
/* main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;
} */
.sidebar {
  margin-top: 8rem;
  grid-area: sidebar;
  position: fixed;
  border-right: solid 2px white;
  cursor: pointer;
  overflow: hidden;
  overflow-x: hidden;
  max-height: 90vh;
}

.components {
  grid-area: components;
}
.comp-container {
  padding-top: 7rem;
  padding-inline-start: 2rem;
}
.comp-code {
  background-color: var(--dkblue);
  color: var(--white);
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.comp-demo.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.html {
  font-size: 1rem;
}
/* footer section */

footer {
  text-align: center;
  padding: 4rem 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: fit-content;
  margin: 0 auto;
  line-height: 1.6;
}
.html {
  width: min-content;
}
@media (min-width: 850px) {
  nav {
    position: sticky;
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
@media (max-width: 1250px) {
  .sidebar {
    left: 0;
  }
}
@media (max-width: 900px) {
  .documentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .components {
    max-width: 800px;
  }
  .sidebar {
    display: none;
  }
}
@media (max-width: 900px) {
  .components {
    max-width: 90vw;
  }
}
