@import url(../basic.css);

.km-img-sm {
  object-fit: cover;
  width: 96px;
  height: 96px;
}
.km-img-md {
  object-fit: cover;
  width: 128px;
  height: 128px;
}
.km-img-lg {
  object-fit: cover;
  width: 192px;
  height: 192px;
}
.km-img-round {
  object-fit: cover;
  border-radius: 50%;
}

/* Auto resize image to fit parent div css  */

.km-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
