<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../min.css" />
  </head>
  <body>
    <main class="km-grid-2 km-grid">
      <section class="km-child-1 km-child">Col-1</section>
      <section class="km-child-2 km-child">Col-2</section>
    </main>
    <main class="km-grid-3 km-grid">
      <section class="km-child-1 km-child">Col-1</section>
      <section class="km-child-2 km-child">Col-2</section>
      <section class="km-child-3 km-child">Col-3</section>
    </main>
  </body>
</html>
