<!DOkmYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>
    <link rel="stylesheet" href="../../min.css" />
  </head>
  <body>
    <div style="display: flex; flex-direction: row">
      <section style="padding: 2rem">
        <h2>Simple card</h2>
        <a class="km-basic-card">
          <img
            src="https://media.robertsspaceindustries.com/c2k21tjgn3z6a/store_small.jpg"
            alt="ship"
            class="km-card-img"
          />
          <div class="km-product-stats">
            <h3>Constellation Aquila</h3>
            <small>Manufacturer : TSI</small>
            <p class="km-product-info">
              Explore any distant horizons! The Constellation Aquila features a
              redesigned cockpit for maximum visibility, advanced sensors and an
              onboard Ursa rover for planetary exploration. Let’s see what’s out
              there!
            </p>
            <div class="km-card-btns">
              <button class="km-btn km-gray-bd">ADD TO CART</button>
              <button class="km-btn km-blue">BUY NOW</button>
            </div>
          </div>
        </a>
      </section>
      <section style="padding: 2rem">
        <h2>Card with badge and buttons</h2>
        <a class="km-basic-card km-card-badge-div">
          <span class="km-btn km-blue km-card-badge">NEW</span>
          <span class="material-icons km-card-wish">favorite</span>
          <img
            src="https://media.robertsspaceindustries.com/c2k21tjgn3z6a/store_small.jpg"
            alt="fist"
            class="km-card-img"
          />
          <div class="km-product-stats">
            <h3>Constellation Aquila</h3>
            <small>Manufacturer : TSI</small>
            <p class="km-product-info">
              Explore any distant horizons! The Constellation Aquila features a
              redesigned cockpit for maximum visibility, advanced sensors and an
              onboard Ursa rover for planetary exploration. Let’s see what’s out
              there!
            </p>
            <div class="km-card-btns">
              <button class="km-btn km-ebtn km-addcart">
                <span class="material-icons">shopping_cart</span>
                ADD TO CART
              </button>
              <button class="km-btn km-ebtn km-pay">
                <span class="material-icons">attach_money</span>
                BUY
              </button>
            </div>
          </div>
        </a>
      </section>
      <section style="padding: 2rem">
        <h2>Card on Text overlay</h2>
        <a class="km-basic-card">
          <img
            src="https://media.robertsspaceindustries.com/c2k21tjgn3z6a/store_small.jpg"
            alt="ship"
            class="km-card-img"
          />
          <div class="km-product-stats">
            <div class="product-title">
              <h3>Constellation Aquila</h3>
              <small>Manufacturer : TSI</small>
            </div>
            <p class="km-product-info">
              Explore any distant horizons! The Constellation Aquila features a
              redesigned cockpit for maximum visibility, advanced sensors and an
              onboard Ursa rover for planetary exploration. Let’s see what’s out
              there!
            </p>
            <div class="km-card-btns">
              <button class="km-btn km-gray-bd">ADD TO CART</button>
              <button class="km-btn km-blue">BUY NOW</button>
            </div>
          </div>
        </a>
      </section>
      <section style="padding: 2rem">
        <h2>Card with Dismiss</h2>
        <a class="km-basic-card km-card-badge-div">
          <span class="material-icons km-card-dismiss">close</span>
          <img
            src="https://media.robertsspaceindustries.com/c2k21tjgn3z6a/store_small.jpg"
            alt="fist"
            class="km-card-img"
          />
          <div class="km-product-stats">
            <h3>Constellation Aquila</h3>
            <small>Manufacturer : TSI</small>
            <p class="km-product-info">
              Explore any distant horizons! The Constellation Aquila features a
              redesigned cockpit for maximum visibility, advanced sensors and an
              onboard Ursa rover for planetary exploration. Let’s see what’s out
              there!
            </p>
            <div class="km-card-btns">
              <button class="km-btn km-gray-bd">ADD TO CART</button>
              <button class="km-btn km-blue">BUY NOW</button>
            </div>
          </div>
        </a>
      </section>
    </div>
    <div style="display: flex; flex-direction: row">
      <section style="padding: 2rem">
        <h2>Text Only Card</h2>
        <a class="km-basic-card text-card">
          <span class="material-icons km-card-close">close</span>
          <div class="text-container">
            <h2>Thank you for visiting!</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
              quod mollitia explicabo quo iusto
            </p>
          </div>
          <div class="text-card-btn">
            <span class="material-icons wishlist-btn">favorite</span>
            <span class="material-icons share-btn">share</span>
          </div>
        </a>
      </section>
      <section style="padding: 2rem">
        <h2>Cards with shadow</h2>
        <a class="km-basic-card km-shadow">
          <img
            src="https://media.robertsspaceindustries.com/c2k21tjgn3z6a/store_small.jpg"
            alt="ship"
            class="km-card-img"
          />
          <div class="km-product-stats">
            <h3>Constellation Aquila</h3>
            <small>Manufacturer : TSI</small>
            <p class="km-product-info">
              Explore any distant horizons! The Constellation Aquila features a
              redesigned cockpit for maximum visibility, advanced sensors and an
              onboard Ursa rover for planetary exploration. Let’s see what’s out
              there!
            </p>
            <div class="km-card-btns">
              <button class="km-btn km-gray-bd">ADD TO CART</button>
              <button class="km-btn km-blue">BUY NOW</button>
            </div>
          </div>
        </a>
      </section>
      <section style="padding: 2rem">
        <h2>Horizontal cards</h2>
        <a class="km-horizontal-card km-card-badge-div">
          <span class="material-icons km-card-close">close</span>
          <div class="flex-row">
            <div>
              <img
                src="https://media.robertsspaceindustries.com/c2k21tjgn3z6a/store_small.jpg"
                class="km-card-img km-img-lg"
                alt="product"
              />
            </div>

            <div class="km-product-stats">
              <h3>Constellation Aquila</h3>
              <small>Manufacturer : TSI</small>
              <p class="km-product-info">
                Explore any distant horizons! The Constellation Aquila features
                a redesigned cockpit for maximum visibility, advanced sensors
                and an onboard Ursa rover for planetary exploration. Let’s see
                what’s out there!
              </p>
              <div class="km-card-btns">
                <button class="km-btn km-gray-bd">THANKS</button>
                <button class="km-btn">
                  <span class="material-icons wishlist-btn">favorite</span>
                  <span class="material-icons share-btn">share</span>
                </button>
              </div>
            </div>
          </div>
        </a>
      </section>
    </div>
  </body>
</html>
