.km-btn {
  border: none;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  background: var(--body);
  border-radius: 3px;
  display: flex;
  align-items: center;
}

/* Default buttons styles  */
.km-btn.km-red {
  background: var(--red-500);
  color: var(--gray-100);
  transition: all 250ms ease;
}
.km-btn.km-red:hover {
  background: var(--red-700);
  color: var(--gray-100);
}
.km-btn.km-blue {
  background: var(--blue-500);
  color: var(--gray-100);
  transition: all 250ms ease;
}
.km-btn.km-blue:hover {
  background: var(--blue-700);
  color: var(--gray-100);
}
.km-btn.km-green {
  background: var(--green-500);
  color: var(--gray-100);
  transition: all 250ms ease;
}
.km-btn.km-green:hover {
  background: var(--green-700);
  color: var(--gray-100);
}
.km-btn.km-gray {
  background: var(--gray-500);
  color: var(--gray-100);
  transition: all 250ms ease;
}
.km-btn.km-gray:hover {
  background: var(--gray-700);
  color: var(--gray-100);
}

/* outerline buttons styles  */
.km-btn.km-red-bd {
  border: 1px solid var(--red-300);
  color: var(--text);
  transition: all 250ms ease;
}
.km-btn.km-red-bd:hover {
  border: 1px solid var(--red-500);
  color: var(--heading);
}
.km-btn.km-blue-bd {
  border: 1px solid var(--blue-300);
  color: var(--text);
  transition: all 250ms ease;
}
.km-btn.km-blue-bd:hover {
  border: 1px solid var(--blue-500);
  color: var(--heading);
}
.km-btn.km-green-bd {
  border: 1px solid var(--green-300);
  color: var(--text);
  transition: all 250ms ease;
}
.km-btn.km-green-bd:hover {
  border: 1px solid var(--green-500);
  color: var(--heading);
}
.km-btn.km-gray-bd {
  border: 1px solid var(--gray-300);
  color: var(--text);
  transition: all 250ms ease;
}
.km-btn.km-gray-bd:hover {
  border: 1px solid var(--gray-500);
  color: var(--heading);
}

/* E-commerce buttons  */

.km-btn.km-addcart {
  border: 1px solid var(--orange-300);
  color: var(--orange-500);
  transition: all 250ms ease;
}
.km-btn.km-addcart:hover {
  border: 1px solid var(--orange-500);
}
.km-btn.km-wishlist {
  border: 1px solid var(--red-300);
  color: var(--red-500);
  transition: all 250ms ease;
}
.km-btn.km-wishlist:hover {
  border: 1px solid var(--red-500);
}
.km-btn.km-pay {
  border: 1px solid var(--green-300);
  color: var(--green-500);
  transition: all 250ms ease;
}
.km-btn.km-pay:hover {
  border: 1px solid var(--green-500);
}
.km-btn.km-store {
  border: 1px solid var(--blue-300);
  color: var(--blue-500);
  transition: all 250ms ease;
}
.km-btn.km-store:hover {
  border: 1px solid var(--blue-500);
}
.km-btn .ei {
  padding-right: 0.5rem;
}

/* Floating buttons  */
.km-float {
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 250ms ease;
  color: var(--gray-700);
  background: var(--gray-300);
}
.km-float:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
