<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="./button.css" />
  </head>
  <body>
    <section class="karma section">
      <p>Primary buttons</p>
      <button class="karma btn success">Success</button>
      <button class="karma btn info">Info</button>
      <button class="karma btn warning">Warning</button>
      <button class="karma btn danger">Danger</button>
      <button class="karma btn default">Default</button>
    </section>
    <section class="karma section">
      <p>Secondary buttons</p>
      <button class="karma btn success secondary">Success</button>
      <button class="karma btn info secondary">Info</button>
      <button class="karma btn warning secondary">Warning</button>
      <button class="karma btn danger secondary">Danger</button>
      <button class="karma btn default secondary">Default</button>
    </section>
    <section class="karma section">
      <p>Link button</p>
      <a href="#" target="_blank" class="karma btn link">Link Button</a>
    </section>
    <section class="karma section">
      <p>Icon buttons:</p>
      <button class="karma btn info icon"><i class="fa fa-home"></i></button>
      <button class="karma btn info icon"><i class="fa fa-bars"></i></button>
      <button class="karma btn info icon"><i class="fa fa-trash"></i></button>
      <button class="karma btn info icon"><i class="fa fa-close"></i></button>
      <button class="karma btn info icon"><i class="fa fa-folder"></i></button>

      <p>Icon buttons with text:</p>
      <button class="karma btn info icon">
        <i class="fa fa-home"></i>
        Home
      </button>
      <button class="karma btn info icon">
        <i class="fa fa-bars"></i>
        Menu
      </button>
      <button class="karma btn info icon">
        <i class="fa fa-trash"></i>
        Trash
      </button>
      <button class="karma btn info icon">
        <i class="fa fa-close"></i>
        Close
      </button>
      <button class="karma btn info icon">
        <i class="fa fa-folder"></i>
        Folder
      </button>
    </section>
    <section class="karma section">
      <p>Icon buttons:</p>
      <button class="karma btn info icon"><i class="fa fa-home"></i></button>
      <button class="karma btn info icon"><i class="fa fa-bars"></i></button>
      <button class="karma btn info icon"><i class="fa fa-trash"></i></button>
      <button class="karma btn info icon"><i class="fa fa-close"></i></button>
      <button class="karma btn info icon"><i class="fa fa-folder"></i></button>
    </section>
    <section class="karma section">
      <p>Floating Action button</p>

      <button class="karma btn info fab sm">+</button>
      <button class="karma btn info fab">+</button>
      <button class="karma btn info fab lg">+</button>
      <button class="karma btn info fab-ex">
        <i>+</i>
        Close
      </button>
    </section>
  </body>
</html>
