.km.avatar.sm {
  height: 2rem;
  width: 2rem;
}
.km.avatar.md,
.km.avatar {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 0;
  background-color: var(--gray-100);
}

.km.avatar.lg {
  height: 4rem;
  width: 4rem;
}
.km.avatar.xl {
  height: 5rem;
  width: 5rem;
}
.km.avatar.xxl {
  height: 6rem;
  width: 6rem;
}

.km.avatar.rs {
  border-radius: 5px;
}

.km.avatar.rm,
.km.avatar.r {
  border-radius: 10px;
}
.km.avatar.rl {
  border-radius: 15px;
}
.km.avatar.rf,
.km.avatar.circle {
  border-radius: 50%;
}
.km.br {
  border: 2px solid var(--gray-900);
}
.km.br.black {
  border: 2px solid var(--gray-900);
}
.km.br.white {
  border: 2px solid var(--gray-100);
}
.km.br.red {
  border: 2px solid var(--red-700);
}
.km.br.green {
  border: 2px solid var(--green-500);
}

.avatar-container {
  /* max-width: 40vw; */
  display: flex;
  /* justify-content: space-around; */
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 1rem;
}
