<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar</title>
    <link rel="stylesheet" href="./avatar.css" />
  </head>
  <body>
    <div class="avatar-container">
      <img class="km avatar sm" src="../../utils/svg/avatar.svg" />
      <img class="km avatar" src="../../utils/svg/avatar1.svg" />
      <img class="km avatar lg" src="../../utils/svg/avatar2.svg" />
      <img class="km avatar xl" src="../../utils/svg/avatar3.svg" />
      <img class="km avatar xxl" src="../../utils/svg/avatar4.svg" />
    </div>
    <div>
      <div class="avatar-container">
        <img class="km avatar" src="../../utils/svg/avatar5.svg" />
        <img class="km avatar rs" src="../../utils/svg/avatar6.svg" />
        <img class="km avatar rm" src="../../utils/svg/avatar7.svg" />
        <img class="km avatar rl" src="../../utils/svg/avatar8.svg" />
        <img class="km avatar rf" src="../../utils/svg/avatar9.svg" />
      </div>
      <div class="avatar-container">
        <img class="km avatar br" src="../../utils/svg/avatar10.svg" />
        <img class="km avatar br black" src="../../utils/svg/avatar11.svg" />
        <img class="km avatar br white" src="../../utils/svg/avatar12.svg" />
        <img class="km avatar br red" src="../../utils/svg/avatar13.svg" />
        <img class="km avatar br green" src="../../utils/svg/avatar14.svg" />
      </div>
    </div>
  </body>
</html>
