<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navabar</title>
    <link rel="stylesheet" href="navbar.css" />
  </head>
  <body>
    <nav class="km-nav-bar">
      <div class="km-nav-logo"><h1>Navbar</h1></div>
      <div class="km-right-nav">
        <div class="km-nav-searchbar">
          <input type="search" placeholder="Search..." class="km-input" />
          <button class="km-btn km-gray">Search</button>
        </div>
        <div class="km-nav-user">
          <div class="km-nav-icons">
            <span class="km badge i">
              <span class="material-icons">shopping_cart</span>
              <span class="bubble icon">2</span>
            </span>
          </div>
          <div class="km-nav-icons">
            <div class="km badge i">
              <span class="material-icons">person</span>
            </div>
            Sign in
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
