<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar</title>
    <link rel="stylesheet" href="./avatar.css">
  </head>
  <body>
    <div class="avatar-container">
        
            <img
              class="karma avatar sm "
              src="../utils/avatars/avatar.svg"
            />
            <img
              class="karma avatar "
              src="../utils/avatars/avatar1.svg"
            />
            <img
              class="karma avatar lg "
              src="../utils/avatars/avatar2.svg"
            />
            <img
              class="karma avatar xl "
              src="../utils/avatars/avatar3.svg"
            />
            <img
              class="karma avatar xxl "
              src="../utils/avatars/avatar7.svg"
            />
          </div>
        </div>
        <div>
          <div class="avatar-container">
            <img
              class="karma avatar "
              src="../utils/avatars/avatar4.svg"
            />
            <img
              class="karma avatar rs"
              src="../utils/avatars/avatar5.svg"
            />
            <img
              class="karma avatar rm"
              src="../utils/avatars/avatar6.svg"
            />
            <img
              class="karma avatar rl"
              src="../utils/avatars/avatar8.svg"
            />
            <img
              class="karma avatar rf"
              src="../utils/avatars/avatar9.svg"
            />
          </div>
          <div class="avatar-container">
            <img
              class="karma avatar br"
              src="../utils/avatars/avatar6.svg"
            />
            <img
              class="karma avatar br black"
              src="../utils/avatars/avatar5.svg"
            />
            <img
              class="karma avatar br white"
              src="../utils/avatars/avatar4.svg"
            />
            <img
              class="karma avatar br red"
              src="../utils/avatars/avatar8.svg"
            />
            <img
              class="karma avatar br green"
              src="../utils/avatars/avatar9.svg"
            />
          </div>
        </div>
    
  </body>
</html>
