@import url(../basic.css);
@import url(../avatar/avatar.css);

.km-ul-list {
  color: var(--text);
}
.km-icon-list {
  list-style: none;
}
.km-icon-list span {
  color: var(--green-500);
  margin-right: 0.3rem;
}
.km-icon-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.km-stacked-list {
  border-radius: 3px;
  border: 1px solid var(--gray-300);
  padding: 1rem;
  padding-right: 3rem;
}
.km-stacked-list li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.5rem;
}
.km-stacked-list li img {
  margin-right: 1rem;
}
