<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
    <link rel="stylesheet" href="list.css" />
  </head>
  <body style="display: flex; align-items: center; justify-content: center">
    <div class="wrapper">
      <section>
        <ul class="km-ul-list">
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
        </ul>
        <ol class="km-ol-list">
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
        </ol>
      </section>
      <section>
        <ul class="km-icon-list">
          <li>
            <span class="material-icons">check_circle</span>
            Item
          </li>
          <li>
            <span class="material-icons">check_circle</span>
            Item
          </li>
          <li>
            <span class="material-icons">check_circle</span>
            Item
          </li>
          <li>
            <span class="material-icons">info</span>
            Item
          </li>
        </ul>
      </section>
      <section>
        <ul class="km-stacked-list">
          <li>
            <img class="km avatar sm" src="../../utils/svg/avatar.svg" />
            <div class="km-list-item">
              <h4>User name</h4>
              <small>Online</small>
            </div>
          </li>
          <li>
            <img class="km avatar sm" src="../../utils/svg/avatar.svg" />
            <div class="km-list-item">
              <h4>User name</h4>
              <small>Offline</small>
            </div>
          </li>
          <li>
            <img class="km avatar sm" src="../../utils/svg/avatar.svg" />
            <div class="km-list-item">
              <h4>User name</h4>
              <small>Offline</small>
            </div>
          </li>
          <li>
            <img class="km avatar sm" src="../../utils/svg/avatar.svg" />
            <div class="km-list-item">
              <h4>User name</h4>
              <small>Offline</small>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
