@import url(https://use.fontawesome.com/releases/v5.15.4/css/all.css);
@import url(../avatar/avatar.css);
@import url(../basic.css);

.karma .bubble {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(99, 99, 212);
  color: whitesmoke;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 18px;
  min-width: 18px;
}
.karma.badge {
  position: relative;
}
.karma .bubble.m {
  height: 1.5rem;
  padding: 0px 3px;
  font-size: 1.3rem;
}
.karma .bubble.l {
  height: 2rem;
  padding: 3px 6px;
  font-size: 1.7rem;
}
.karma .bubble.icon {
  transform: translate(-60%, -40%);
}
.karma .bubble.m.icon {
  transform: translate(-60%, -30%);
}
