<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge</title>
    <link rel="stylesheet" href="../../min.css" />
  </head>
  <body>
    <div class="avatar-container">
      <div class="km badge">
        <img
          class="km avatar sm rs"
          src="https://www.svgrepo.com/show/26325/avatar.svg"
        />
        <span class="bubble sm">7</span>
      </div>

      <div class="km badge">
        <img
          class="km avatar lg rs"
          src="https://www.svgrepo.com/show/26325/avatar.svg"
        />
        <span class="bubble m">10</span>
      </div>

      <div class="km badge">
        <img
          class="km avatar xxl rs"
          src="https://www.svgrepo.com/show/26325/avatar.svg"
        />
        <span class="bubble l">100</span>
      </div>
    </div>
    <div class="avatar-container">
      
          <div>
            <span class="km badge i">
              <i class="fas fa-bell fa-2x icon-weight"></i>
              <span class="bubble icon">2</span>
            </span>
          </div>
          <div>
            <span class="km badge i">
              <i class="fas fa-bell fa-3x icon-weight"></i>
              <span class="bubble m icon">2</span>
            </span>
          </div>
    
  </body>
</html>
