.km .bubble {
  position: absolute;
  border-radius: 50%;
  background-color: var(--indigo-300);
  color: var(--grey-100);
  transform: translate(-50%, -50%);
  text-align: center;
  height: 1.125rem;
  min-width: 1.125rem;
}
.km.badge {
  position: relative;
}
.km .bubble.m {
  height: 1.5rem;
  padding: 0rem 0.25rem;
  font-size: 1.3rem;
}
.km .bubble.l {
  height: 2rem;
  padding: 0.25 0.5rem;
  font-size: 1.7rem;
}
.km .bubble.icon {
  transform: translate(-60%, -40%);
}
.km .bubble.m.icon {
  transform: translate(-60%, -30%);
}
