<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
    <link rel="stylesheet" href="../../min.css" />
    <link rel="stylesheet" href="modal.css" />
  </head>
  <body>
    <div class="comp-demo">
      <button class="km-btn km-blue" id="modal-btn">Launch Demo Modal</button>
      <div class="km-modal-wrapper">
        <div class="km-modal-dialog">
          <div class="km-modal km-modal-action" id="km-modal">
            <div class="km-modal-header">
              <h2>Modal title</h2>
              <span class="material-icons km-modal-close">close</span>
            </div>
            <div class="km-modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="km-modal-footer">
              <button class="km-btn km-blue">Save</button>
              <button class="km-btn km-gray">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="modal.js"></script>
  </body>
</html>
