<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Utilities</title>
    <link rel="stylesheet" href="./text.css" />
  </head>
  <body>
    <div class="km--warpper">
      <section style="padding: 1rem">
        <h2>Headings</h2>
        <h6 class="km-h6">h6. "this" this is a javascript joke</h6>
        <h5 class="km-h5">h5. "this" this is a javascript joke</h5>
        <h4 class="km-h4">h4. "this" this is a javascript joke</h4>
        <h3 class="km-h3">h3. "this" this is a javascript joke</h3>
        <h2 class="km-h2">h2. "this" this is a javascript joke</h2>
        <h1 class="km-h1">h1. "this" this is a javascript joke</h1>
      </section>

      <section style="padding: 1rem">
        <h2>Text Alignments</h2>
        <p class="km-h6 km-text-start">"this" this is a javascript joke</p>
        <p class="km-h6 km-text-center">"this" this is a javascript joke</p>
        <p class="km-h6 km-text-end">"this" this is a javascript joke</p>
      </section>
      <section style="padding: 1rem">
        <h2>Gray text</h2>
        <p class="km-text-gray">"this" this is a javascript joke.</p>
      </section>
      <section style="padding: 1rem">
        <h2>Small text</h2>
        <p class="km-sm-txt">"this" this is a javascript joke.</p>
      </section>
    </div>
  </body>
</html>
