@import url(../basic.css);
.km--warpper {
  max-width: 900px;
}

.km-text-div {
  width: 100%;
}
.km-text-gray {
  color: var(--gray-500);
}
.km-text-start {
  text-align: start;
}
.km-text-center {
  text-align: center;
}
.km-text-end {
  text-align: end;
}

.km-h1 {
  font-size: 2.75rem;
}
.km-h2 {
  font-size: 2.5rem;
}
.km-h3 {
  font-size: 2.25rem;
}
.km-h4 {
  font-size: 2rem;
}
.km-h5 {
  font-size: 1.75rem;
}
.km-h6 {
  font-size: 1.5rem;
}
.km-sm-txt {
  font-size: 1rem;
}
